
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Loveit</label>
      <ul>
        <li><a  routerLink="/catalogue">Home</a></li>
        <li><a routerLink="/catalogue">favourite</a></li>
        <li><a routerLink="/catalogue">Catalogue</a></li>
        <li><a routerLink="/cart">Cart</a></li>
      </ul>
    </nav>
    <div class="row">
      <div *ngFor="let product of products" class="col-lg-4">
         <div class="product-card">
          <img [src]="'assets/' + product.image" alt="{{ product.name }}">
          <div class="product-details">
            <h6>{{ product.name }}</h6>
            <p>Weight: {{ product.weight }}</p>
            <p>Price: {{ product.price }}</p>
          </div>
          <div class="product-actions">
            <button *ngIf="!isInCart(product)" (click)="addToCart(product)">Add to Cart</button>
            <div *ngIf="isInCart(product)">
              <button (click)="decreaseQuantity(product)">-</button>
              {{ getProductQuantity(product) }}
              <button (click)="increaseQuantity(product)">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>